log_facility=daemon
pid_file=/var/run/nrpe.pid
server_port=5666
server_address={{ inventory_hostname }}
nrpe_user=nagios
nrpe_group=nagios
allowed_hosts=10.30.48.52
dont_blame_nrpe=0
allow_bash_command_substitution=0
debug=0
command_timeout=60
connection_timeout=300

command[check_load]=/usr/lib64/nagios/plugins/check_load -w 15,10,5 -c 30,25,20
command[check_users]= /usr/lib64/nagios/plugins/check_users -w 5 -c 10
command[check_ntpd_service]=/usr/lib64/nagios/plugins/check_process -s chronyd -c 1
command[check_ntpd_time_sync]=/usr/lib64/nagios/plugins/check_ntp_time -H ipa-dcw.panterranetworks.net -w 3 -c 5
command[check_uptime]=/usr/lib64/nagios/plugins/check_uptime -w 115200 -c 129600


{% if (inventory_hostname in groups['ADMIN_UI_VLAN48']) %}
command[check_StreamsAPIGateway]=/usr/lib64/nagios/plugins/check_procs -C node -a /opt/admin/AdminNewUI/server.js -c 1:10
{% endif %}
